<a href="https://colab.research.google.com/github/IyadSultan/low-coding-AI/blob/main/01_python_for_low_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
user_name = input("Enter your name: ")

print("Hello, " + user_name + "!")

Enter your name: Ahmad
Hello, Ahmad!

# H1
## H2
### H3
- bullet1
-bullet2

In [ ]:
age = int(input("Enter your age: "))

if age < 18:
    print("You are a minor.")
elif age == 18:
    print("You're 18, a special age!")
else:
    print("You are an adult.")

Enter your age: 18
You're 18, a special age!

In [ ]:
# For loop
for i in range(5):  # Range: 0 to 4
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [ ]:
# While loop
count = 0
while count < 3:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Iyad"))

Hello, Iyad!

In [ ]:
fruits = ["apple", "banana", "cherry"]

In [ ]:
# Access elements
print(fruits[0])  # apple

apple

In [ ]:
# Add an item
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Iterate
for fruit in fruits:
    print(fruit)

apple
banana
cherry
orange

In [ ]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

In [ ]:
# Access value by key
print(person["name"])

Alice

In [ ]:
# Add a new key-value pair
person["job"] = "Engineer"
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

In [ ]:
# prompt: iterate throguh person items and print their keys and vlaues
# meow meow

person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}


for key, value in person.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 25
Key: city, Value: New York

In [ ]:
# prompt: change this code so I append (add text) to the existing file.
# change the code so it adds a new line then it adds the text
# if the file does not exist then create it
# just work on this code
# with open("example.txt", "w") as file:
#     # Write the string "Hello, Python!" to the file.
#     file.write("Hello, Python!")

with open("example.txt", "w") as file:
    # Add a new line
    file.write("\n")
    # Write the string "Hello, Python!" to the file.
    file.write("Hello, Python!")

In [ ]:
# Read from a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, Python!

In [ ]:
# prompt: change the code to print the type of  error
# try:
#     num = int(input("Enter a number: "))
#     print("Your number is", num)
# except ValueError:
#     print("That's not a valid number!")

try:
    num = int(input("Enter a number: "))
    print("Your number is", num)
except ValueError as e:
    print(f"Error: {e}")

Enter a number: A
Error: invalid literal for int() with base 10: 'A'

In [ ]:
def area(length, width):
    return length * width

print(area(5, 3))

15

In [ ]:
class Student:
    def __init__(self, name, score):
        self.name = name
        self.score = score

    def greet(self):
        return f"My name is {self.name} and my score is {self.score}."

In [ ]:
class Student:
    def __init__(self, name, score):
        self.name = name
        self.score = score

    def greet(self):
        return f"My name is {self.name} and my score is {self.score}."

    def __str__(self):
        return "I am a student"

# Create an object
alice = Student("Alice", 25)
Ahmad = Student("Ahmad", 90)
Samer = Student("Samer", 100)
Khalid = Student("Khalid", 50)

# Access attributes
print(alice)

I am a student

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"Person(name={self.name}, age={self.age})"

    def __repr__(self):
        return f"Person('{self.name}', {self.age})"

person = Person("Alice", 30)
print(str(person))  # Person(name=Alice, age=30)
print(repr(person))  # Person('Alice', 30)

Person(name=Alice, age=30)
Person('Alice', 30)

In [ ]:
class Collection:
    def __init__(self, items):
        self.items = items

    def __len__(self):
        return len(self.items)

collection = Collection([1, 2, 3, 4])
print(len(collection))  # 4

4

In [ ]:
class CustomList:
    def __init__(self, items):
        self.items = items

    def __getitem__(self, index):
        return self.items[index]

    def __setitem__(self, index, value):
        self.items[index] = value

    def __delitem__(self, index):
        del self.items[index]

In [ ]:
custom_list = CustomList([10, 20, 30])
print(custom_list[1])  # 20

20

In [ ]:
custom_list[1] = 25
print(custom_list[1])  # 25

In [ ]:
del custom_list[1]
print(custom_list.items)  # [10, 30]

[10, 30]